.btn-box1{
    margin-top: 30px;
    height: 38px;
    margin-bottom: 30px;
}
.btn-home{
    background-color: rgb(0, 140, 255);
    color: white;
    border: none;
    position: relative;
}
.btn-home:hover{
    padding:5px;
}
.outermessagecontainer{
    width: 80%;
    height: auto;
    position: relative;
    left: 10%;
    right: 10%;
    border-radius: 5px;
    background-color: rgb(0, 140, 255);
    padding-bottom: 5px;
}
.outermessagecontainer h1{
    color: white;
}
.innermessagecontainer{
    width: 99%;
    height: auto;
    position: relative;
    left: .5%;
    right: .5%;
    background-color: white;
    border-radius: 5px;
}
.namestyle{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #dddddd;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn-sumbit{
    padding: 5px;
    width: 100px;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: rgb(0, 140, 255);
}
@media only screen and (max-width){
    .outermessagecontainer{
        width: 100%;
        height: auto;
        border-radius: 5px;
        background-color: rgb(0, 140, 255);
        padding-bottom: 5px;
    }
    .outermessagecontainer h1{
        color: white;
    }
    .innermessagecontainer{
        width: 99%;
        height: auto;
        position: relative;
        left: .5%;
        right: .5%;
        background-color: white;
        border-radius: 5px;
    }
    .namestyle{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        background-color: #dddddd;
        font-size: 16px;
        margin-top: 10px;
    }
}